*, ::before, ::after {
    box-sizing: border-box;
}

.nav-tools {
    display: flex;
    justify-content: space-between;
    color: #fff;
    border: 1px solid red;
    padding: 10px 20px;
}

.content {
    padding: 20px;
}
/* mobile */
@media (max-width: 480px){
    main {
        width: 100vw;
        height: 100vh;
        background-color: #313E51;
        margin: 50px auto;
    }

    .question, .options {
        height: auto;
        border: 1px solid #fff;
        margin-bottom: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .options__tags{
        border-radius: 5px;
        padding: 8px;
        border: 1px solid gold;
        margin-bottom: 10px;
    }

    .options button {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
    }
}
