*,::before, ::after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* =================
    Typography 
   ================= */

.userdata-container h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #007bff;
}

.userdata-container h2 {
    font-size: 2.25rem;
    margin: 0.167em 0;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;  
    margin-bottom: 0.5em;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -1;
    margin: 0 auto;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column; 
    padding-left: 2em;
    padding-right: 2em;   
}

.userdata-container {
    display: flex;
    width: 100%;
}
/* =================
    Intro
   ================= */

.intro { 
    justify-content: space-between;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background: #007bff url("https://images.pexels.com/photos/703016/pexels-photo-703016.jpeg");
    background-size: cover;
    padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    padding-top: 2.5em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

.main-content p,
form {
    max-width: 450px;
}

/* =================
    Form
   ================= */

input,
button {
    font-family: inherit;
    width: 100%; 
    border-radius: 5px;   
}

input {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 2px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #e6e8ec;
}

.controls{
    display: flex;
    justify-content: space-around;
}

.controls label {
    display: flex;
}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1em 0;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #007bff;
    margin-top: 1em;    
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #007bff;
}


/* header */
header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #000;
}

.summary {
    flex: 1;
}

.header-content {
    display: flex;
    align-items: center;
}

.inner-content {
    margin-right: 20px; 
}

.avatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}


/* Main Content Styling */
.main-container {
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 140px;
    height: 120px;
    background-color: #f8f6f6;
    margin: 0 5px;
    padding: 5px;
    border-radius: 8px;
}

.inner-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card-emoji {
    background-color: #333;
    border-radius: 50%;
}

.total, .list-name {
    font-size: 0.875rem;
    color: #d3d3d3;
}

.card-value {
    font-size: 1.875rem;
}

.unit-value {
    font-size: 1rem;
}

.list-name {
    list-style-type: none;
}

.calories-section {
    display: flex;
    justify-content: space-around;
}

.progress-container {
    position: relative;
    width: 160px;
    height: 160px;
  }
 
.progress-outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.progress-inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0,5px 0px rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);    
}


#num-of-cal {
    font-weight: 600;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim{
    100% {
        stroke-dashoffset: 165;
    }
}
i{
    position: relative;
}

.hidden {
    display: none;
}


.form-modal, .modal {
    position: fixed;
    width: 50%;
    max-width: 500px;
    height: auto;
    top: 20%;
    left: 25%;
    margin: auto;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 5px 255px 0px #00000080;
    
  }

  .bmi-data {
    /* align-items: center; */
    text-align: center;
  }
  
  .close-modal-btn-container {
    text-align: right;
    margin: 9px;
  }
  
  .modal-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:active {
    color: red;
    cursor: pointer;
    background: transparent;
  }


  
/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    body {
        display: flex;
    }
    
    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 2.625rem;
    }
    
    .beta-text {
        font-size: 1.25rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
    }
    
    .intro {
        min-height: 100vh;
    }
    
    .main-content {
        justify-content: center;
        padding-top: 0;
    }
}